
html {
    /* background-color: rgba(51, 3, 3, 0.3); */
    background-size: cover;
    
}
body {
    /* background-image: url("https://res.cloudinary.com/dkng1fqtz/image/upload/v1583939438/IMG_0670_kuow1v.jpg"); */
    justify-content: cover;
    /* opacity:.3; */
    
}

p {
color: blue;
font-style: oblique; 
font-variant: small-caps;
text-shadow: yellow;
font-family: fantasy;
max-width:250px;
margin-left:350px;
font-weight: 900;
font-size: 25px;
background-size: contain;
background-size: 100%;
scrollbar-base-color: brown;
justify-content:center;
border: 20px solid gray;
}

h1 {
    text-align: center;
}

span {
    background-color: yellow;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
span a:hover{
    text-decoration:none;
    color:white;
}