body {
    /* background-image: url("https://media.giphy.com/media/fq8HxnZAkoTybqirPN/giphy.gif"); */
    display: grid;
    grid-template-columns: repeat(7 fr);
    grid-template-rows: repeat(7 fr);
    background-size: cover;
    border: 2px;
    margin: 5px;
    padding: 0em;
    width: 100%;
   height: 100%;
}

header {
   font-family:'Slabo 15px', serif;
   background-image: url("https://media.giphy.com/media/fq8HxnZAkoTybqirPN/giphy.gif");
   word-wrap: wrap;
}
section {
    margin:0;
    height: 100%;
    background-image: url("https://media.gettyimages.com/photos/construction-of-twin-towers-world-trade-center-picture-id84950495?s=2048x2048");
    filter: brightness(80%);
    cursor: url('..images');
    background-size: 80%;
}
section:hover {
    transform: scale(.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
h1 {
    font-size:1em;
    font-style: oblique;
    color: whitesmoke;
    text-align: center;
}
h2 {
    font-size:.5em;
    color: orange;
    text-align: center;
    font-size: 1.2em;
    font-family:'Slabo 15px', serif;
}
a {
    text-decoration: none;
    align-content: center;
 
}
#photo{
    animation: blur 5s infinite alternate;
    height: 90vw;
    max-height: 240px;
    max-width: 240px;
    position: relative;
    width: 90vw;
  }
  
  #photo div{
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  #normal{
    background-image: url(https://res.cloudinary.com/dkng1fqtz/image/upload/v1584115531/IMG_0103_tu9xon.jpg);
    background-size: cover;
    transform: rotate(90deg);
  }
  #invert{
    animation: mask 5s steps(69) infinite alternate;
    background-image: url(https://res.cloudinary.com/dkng1fqtz/image/upload/v1584115531/IMG_0103_tu9xon.jpg);
    background-size: cover;
    filter: invert(2) grayscale(2);
    -webkit-mask: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/141041/sheet.png');
    -webkit-mask-size: 7000% 100%;
    mask: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/141041/sheet.png');
    mask-size: 7000% 100%;
    transform: rotate(90deg);
  }
  
  @keyframes blur{
    from{
      filter: blur(3px);
      opacity: 0;
    }
    to{
      filter: blur(0px);
      opacity: 1;
    }
  }
  
  @keyframes mask{
    from{
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to{
        -webkit-mask-position: 0% 0;
        mask-position: 0% 0;
    }
  }
ul {
    display: flex;
    list-style-type:none;
    padding-left: 0;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color:#384c07;
 
}
li {
    display: flex;
    text-align: center;
    align-content: center;
    letter-spacing: .1em;
    word-spacing: 1em;
    justify-content: center;
}
main {

    align-content:center;
}
img {
    justify-content:center;
    width:80%;
    padding-left: 2em;
    opacity: .9;
    image-orientation: 20deg;
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
}
img:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* good */
button {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color:white;
} 
.zoom {
    padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
.zoom:hover {
    transform: scale(.75); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

footer {
    background:url(https://res.cloudinary.com/dkng1fqtz/image/upload/v1584124097/IMG_0109_imrcqf.jpg) no-repeat left, url(https://res.cloudinary.com/dkng1fqtz/image/upload/a_90/v1584059456/IMG_2928_vdg3yv.jpg) no-repeat right; 
    background-color: black;
    background-size: 40%;
    transform: 90deg;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;

}
.footerImage {
    size:"50%";
}
.commentBox {
    margin-left:43%;
    width:185px;
    display: flex;
    flex-direction: column;
    align-content: center;
    color:white;
    justify-items: center;
    text-align:center;
    border-color: red;
    border: 1px solid black;
    background-color: #384c07;
}
.helpful {
    background-color: white;
    color:black;
}
button {
    background-color: white;
}
h4 {
    color:black;
    letter-spacing: 10px;
    font-style: oblique;
    font-stretch: expanded;
    text-shadow:2px 2px white;
    font-size: 20px;
    text-align:center;
}
.hero-image {
    background: url(https://res.cloudinary.com/dkng1fqtz/image/upload/c_thumb,w_200,g_face/v1584115531/IMG_0103_tu9xon.jpg) no-repeat center; 
    transform: rotate(0deg);
    background-size: cover;
    height: 400px;
    width: 300px;
    position: relative;
    margin-left: 80px;
    margin-top:20px;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    font-family: 'Baloo Chettan 2', cursive;
    top: 45%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: white;
  }

@media(max-width: 768px){
    .projects{
        display:none;
        width:50%;
       margin:80px;
        background-color:yellow;
        justify-content:center;
    }
    .projects.toggleCls{
        display:block;
    }
}
@media(min-width: 769px) {
    section {
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows:repeat(3, 1fr);
        grid-gap: 10px;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
    }
    .hamIcon{
        display:none;
    }
    .projects{
        display:inline;
    }
    button {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            background-color:rgba(236, 105, 17, 0.479);
            animation-name: example;
            animation-duration: 600000;
            
        }
        .projects {
            display: flex;
            align-content: left;
            width: 30%;
            margin-left: 35%;
            text-align: right;
            
        }
        .helpful {
            background-color: rgba(0, 90, 0, 0);
            color:black;
        }
        a {
                color:#5e722d; 
                text-decoration: none;
                /* background-color: rgba(44, 58, 136, 0.479); */
                align-content: center;
                font-size: 20px;
                font-family: cursive;
        }
        }

@media(min-width: 1024px){
        section {
            display:grid;
            grid-template-columns:repeat(3, 1fr);
            grid-template-rows:repeat(2, 1fr);
            grid-gap: 10px;
        }
       picture:nth-of-type(1) img:nth-of-type(1) {
           padding-top: 50px;
         }

       picture:nth-of-type(3) img:nth-of-type(3) {
            padding-top: 50px;
        }
        body { 
               background-color:#384c07;
            }
} 

label {
    color:blue;
}